.spacer {
  height: 100vh;
}

.spacer1 {
  height: 115vh;
}

.container {
  margin: 0 auto;
}

//image click

.imageCard {
  object-fit: cover;
  // height: 50vh;
  width: 100%;
  border-radius: 20px;
}

.imageCard:hover {
  opacity: 0.9;
}

.containerGrid {
  // margin: 50px;
  background-color: #c9c3ac;

  padding: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 33vh 33vh 33vh;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "card1 card1 card2 card-3"
    "card5 card6 card2 card4"
    "card5 card7 card8 card8";
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card-3 {
  grid-area: card-3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

.card6 {
  grid-area: card6;
}

.card7 {
  grid-area: card7;
}

.card8 {
  grid-area: card8;
}

.tictacWrapper {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  h2 {
    font-weight: 400;
  }

  .textTitle {
    color: #fff;
    width: 40%;
    line-height: 40px;
  }

  .containerGridMobile{
    display: none;
  }
}

/* mobile-view */
@media screen and (max-width: 763px) {

  .spacer1 {
    height: 100vh;
  }

  .containerGrid { 
    padding: 100px 25px 82px 25px;
    display: block;
    
  }

.containerGridMobile{
  display: flex;
  flex-direction: column;
}

.boxcardRow{
  display: flex;
  flex-direction: row;
}

.imageCard {
   border-radius: 12px;
   margin:10px 0px;
}
}