.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* my css  */

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 48%);
  object-fit: contain;
}

.hero-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container p {
  margin-top: 8px;
  color: #fff;
  font-size: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  z-index: 0;
}

.headerDesc {
  width: 70%;
  line-height: 40px;
  letter-spacing: 10px;
  gap: 20px;
}

.headerDesc p {
  font-size: 54px;
  letter-spacing: 13px;
  margin-bottom: 12px;
}

.headerDesc span {
  font-size: 14px;
  letter-spacing: 5px;
  color: #fff;
}

.contactIcon {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.card {
  padding: 38px;
}

.text-title {
  color: #fff;
}


.inputContainer {
  position: relative;
  width: 250px;
  height: 30px;
  border-radius: 8px;
}

.inputContainer input {
  background-color: transparent;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* mobile-view */
@media screen and (max-width: 763px) {
  .card {
    border-radius: 0px;
  }
}

.stickyText {
  z-index: 1000;
  transform: rotate(270deg);
  letter-spacing: 3px;
  color: #acacac;
  position: fixed;
  left: -50px;
  bottom: 93px;
  padding-left: 36px;
  font-size: 10px;
  transform-origin: 50% 50%;
}

.stickyText:before {
  height: 1px;
  position: absolute;
  top: 0.4rem;
  width: 30px;
  left: 0;
  content: "-";
  text-indent: -9999px;
  background-color: #acacac;
}